.search-results {
  display: grid;
  grid-template-columns: repeat(6, rem(140px));
  justify-content: space-between;
  row-gap: rem(10px);

  li {
    position: relative;
    width: rem(140px);
    height: rem(200px);
    border-radius: rem(8px);
    display: flex;
    overflow: hidden;
    font-family: $font-body;

    
    @media (max-width: 1023px) {
      align-items: flex-end;
    }

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }

    .overlay {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: rem(10px);
      background: $overlay-desktop;
      opacity: 0;
      transition: opacity 0.175s linear;
      
      &:hover {
        opacity: 1;
      }

      @media (max-width: 1023px) {
        opacity: 1;
        padding-right: rem(30px);
        height: auto;
      }
    }

    h3 {
      font-size: rem(12px);
      line-height: rem(15px);
      font-weight: 700;
      color: $white;
      margin-bottom: rem(5px);
    }

    p {
      font-size: rem(12px);
      line-height: rem(15px);
      font-weight: 400;
      color: $gray-100;
    }

    .like-button {
      position: absolute;
      top: rem(0px);
      right: rem(0px);
    }
  }

  @media (max-width: 1023px) {
    grid-template-columns: repeat(4, auto);

    justify-content: center;
    column-gap: rem(20px);
    row-gap: rem(20px);

    li {
      width: rem(150px);
    }
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, auto);

    justify-content: center;
    column-gap: rem(20px);
    row-gap: rem(20px);

    li {
      width: rem(150px);
    }
  }
}
