.container {

  .wrapper {
    border-radius: rem(4px);
    gap: rem(8px);
    padding: rem(8px);
    background-color: $white;
    align-items: center;
  }

  input {
    border: none;
    outline: none;
  }

}