.search-placeholder {
  width: fit-content;
  margin: 0 auto;
  padding-top: rem(130px);
  font-family: $font-body;
  align-items: center;
  background-repeat: no-repeat;
  background-size: rem(275px) auto;
  background-position: top center;

  h3 {
    font-size: rem(24px);
    line-height: rem(30px);
    margin-bottom: rem(8px);
    font-weight: 700;
    color: $white;
  }

  .suggestion-button {
    font-size: rem(16px);
    color: $gray-100;
  }
}