.container {
  min-width: rem(275px);
  background: transparent url("./dead_horse.png") no-repeat top center;
  margin: rem(100px) auto;
  padding-top: rem(130px);
  font-family: $font-body;
  align-items: center;

  h3 {
    font-size: rem(24px);
    line-height: rem(30px);
    margin-bottom: rem(8px);
    font-weight: 700;
    color: $white;
  }

  p {
    font-size: rem(16px);
    color: $gray-100;
  }
}